.services
  padding-top: 100px
  +r(767)
    padding-top: 40px
  .advantages-card
    display: flex
    flex-direction: column
    &__text
      display: flex
      flex-direction: column
      flex-grow: 1
      padding-bottom: 40px
      .text-center
        margin-top: auto
        .btn
          margin-top: 20px