.advantages
  padding-top: 50px
  +r(767)
    padding-top: 40px
  .section-head
    margin-bottom: 65px
    +r(767)
      margin-bottom: 30px
    
.advantages-card
  position: relative
  height: calc(100% - 30px)
  margin-bottom: 30px
  background-color: #fff
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1)
  border-radius: 5px
  +trans
  &__head
    display: flex
    align-items: center
    padding: 35px 25px 30px 30px
    +r(480)
      display: block
      text-align: center
      padding: 15px
  &__img
    margin-right: 30px
    +r(480)
      margin-right: 0
      margin-bottom: 20px
  &__title
    margin: 0
    font-size: 14px
    color: #2F046B
    text-transform: uppercase
    letter-spacing: 0.05em
    line-height: 1.85
  &__text
    padding: 0 30px 10px
    +r(480)
      padding: 0 15px 10px
      text-align: center